:root {
    --base-font: rgba(212, 223, 236, 1);
    --dimmed-font: rgba(182, 194, 214, 0.637);
    --fading-font: rgba(233, 234, 239, 0.753);
    --grey-font: rgba(177, 184, 204, 1);
    --font-inactive: rgba(194, 209, 227, 0.603);
    --common-styles: rgba(55, 70, 110, 0.637);
    --common-style-border: rgba(24, 67, 151, 0.596);
    --dim-background: rgba(175, 175, 195, 0.119);
    --content-background: rgba(13, 15, 20, 0.9);
    --accent-color: rgba(17, 40, 97, 0.9);
    --content-border: rgba(22, 74, 199, 0.658);
    --selection-background: rgba(52, 95, 171, 0.884);
    --dash-background: rgba(180, 140, 207, 0.3);
    --button-color: rgba(24, 86, 215, 0.747);
    --button-focus: rgba(53, 56, 78, 0.815);
    --button-focus-hover: rgba(53, 56, 78, 0.815);
    --button-focus-active: rgba(53, 56, 78, 0.815);
    --button-shadow: rgba(124, 127, 147, 0.7);
    --button-hover: rgba(53, 56, 78, 0.815);
    --button-inactive: rgba(21, 69, 181, 0.637);
    --button-active: rgba(87, 87, 112, 0.842);
    --button-checked: rgba(87, 87, 112, 0.842);
    --button-checked-hover: rgba(87, 87, 112, 0.842);
    --button-checked-active: rgba(87, 87, 112, 0.842);
    --notification-background: rgba(17, 50, 143, 0.788);
    --notification-focus: rgba(53, 56, 78, 0.815);
    --notification-focus-hover: rgba(53, 56, 78, 0.815);
    --notification-focus-active: rgba(53, 56, 78, 0.815);
    --notification-hover: rgba(53, 56, 78, 0.815);
    --notification-active: rgba(53, 56, 78, 0.815);
    --notification-checked: rgba(53, 56, 78, 0.815);
    --notification-checked-hover: rgba(53, 56, 78, 0.815);
    --notification-checked-active: rgba(53, 56, 78, 0.815);
    --screenshot-focus: rgba(53, 56, 78, 0.815);
    --screenshot-focus-hover: rgba(53, 56, 78, 0.815);
    --screenshot-focus-active: rgba(53, 56, 78, 0.815);
    --screenshot-hover: rgba(53, 56, 78, 0.815);
    --screenshot-active: rgba(53, 56, 78, 0.815);
    --screenshot-checked: rgba(53, 56, 78, 0.815);
    --screenshot-checked-hover: rgba(53, 56, 78, 0.815);
    --screenshot-checked-active: rgba(53, 56, 78, 0.815);
    --shell-link: rgba(217, 126, 239, 1);
    --shell-link-hover: rgba(198, 162, 216, 1);
    --icon-shadow: rgba(0, 0, 0, 0.4) !important;
    --error: rgba(192, 28, 40, 1) !important;
    --warning: rgba(205, 147, 9, 1) !important;
    --dim-gray: rgba(212, 212, 212, 0.3) !important;
    --entry-active: rgba(87, 87, 112, 0.842);
    --entry-checked: rgba(87, 87, 112, 0.842);
    --entry-hover: rgba(53, 56, 78, 0.815);
    --entry-focus: rgba(107, 104, 131, 0.815);
    --entry-inactive: rgba(15, 27, 52, 0.7);
    --dim-inactive: rgba(131, 120, 179, 0.2);
    --scrollbar-button: rgba(24, 86, 215, 0.747);
    --scrollbar-hover: rgba(53, 56, 78, 0.815);
    --scrollbar-active: rgba(87, 87, 112, 0.842);
    --datebutton-focus: rgba(53, 56, 78, 0.815);
    --datebutton-focus-hover: rgba(53, 56, 78, 0.815);
    --datebutton-focus-active: rgba(53, 56, 78, 0.815);
    --datebutton-hover: rgba(53, 56, 78, 0.815);
    --calendar-focus: rgba(53, 56, 78, 0.815);
    --calendar-hover: rgba(53, 56, 78, 0.815);
    --calender-inactive: rgba(21, 69, 181, 0.637);
    --events-button: rgba(24, 86, 215, 0.747);
    --message-color: rgba(79, 75, 103, 0.836);
    --switch-list: rgba(79, 75, 103, 0.15);
    --switch-list-focus: rgba(80, 118, 202, 0.13);
    --switch-list-checked-hover: rgba(80, 118, 202, 0.13);
    --switch-list-checked-active: rgba(80, 118, 202, 0.13);
    --switch-list-active: rgba(80, 118, 202, 0.13);
    --switch-list-checked: rgba(80, 118, 202, 0.13);
    --switch-list-focus-active: rgba(80, 118, 202, 0.13);
    --switch-list-focus-hover: rgba(80, 118, 202, 0.13);
    --switch-list-drop: rgba(58, 108, 203, 0.2);
    --panel-button-hover: rgba(87, 87, 112, 0.15);
    --quicktoggle-hover: rgba(154, 93, 194, 0.514);
    --workspace-background: rgba(21, 69, 181, 0);
    --search-icon: rgba(44, 102, 206, 0.2);
    --navigation-icon: rgba(119, 93, 173, 0.596);
    --pale-color: rgba(158, 181, 209, 0.3);
}