:root {
    --base-font: rgba(191, 207, 207, 1);
    --dimmed-font: rgba(214, 211, 211, 0.637);
    --fading-font: rgba(164, 201, 201, 0.753);
    --grey-font: rgba(167, 225, 225, 1);
    --font-inactive: rgba(249, 241, 241, 0.603);
    --common-styles: rgba(77, 71, 71, 0.637);
    --common-style-border: rgba(61, 66, 66, 0.596);
    --dim-background: rgba(201, 200, 200, 0.119);
    --content-background: rgba(65, 22, 21, 0.9);
    --accent-color: rgba(141, 26, 22, 0.9);
    --content-border: rgba(210, 21, 21, 0.658);
    --selection-background: rgba(104, 68, 68, 0.884);
    --dash-background: rgba(195, 166, 166, 0.3);
    --button-color: rgba(23, 18, 18, 0.747);
    --button-focus: rgba(80, 42, 42, 0.815);
    --button-focus-hover: rgba(80, 42, 42, 0.815);
    --button-focus-active: rgba(80, 42, 42, 0.815);
    --button-shadow: rgba(176, 129, 129, 0.7);
    --button-hover: rgba(80, 42, 42, 0.815);
    --button-inactive: rgba(161, 45, 42, 0.637);
    --button-active: rgba(114, 112, 112, 0.842);
    --button-checked: rgba(114, 112, 112, 0.842);
    --button-checked-hover: rgba(114, 112, 112, 0.842);
    --button-checked-active: rgba(114, 112, 112, 0.842);
    --notification-background: rgba(44, 42, 42, 0.788);
    --notification-focus: rgba(80, 42, 42, 0.815);
    --notification-focus-hover: rgba(80, 42, 42, 0.815);
    --notification-focus-active: rgba(80, 42, 42, 0.815);
    --notification-hover: rgba(80, 42, 42, 0.815);
    --notification-active: rgba(80, 42, 42, 0.815);
    --notification-checked: rgba(80, 42, 42, 0.815);
    --notification-checked-hover: rgba(80, 42, 42, 0.815);
    --notification-checked-active: rgba(80, 42, 42, 0.815);
    --screenshot-focus: rgba(80, 42, 42, 0.815);
    --screenshot-focus-hover: rgba(80, 42, 42, 0.815);
    --screenshot-focus-active: rgba(80, 42, 42, 0.815);
    --screenshot-hover: rgba(80, 42, 42, 0.815);
    --screenshot-active: rgba(80, 42, 42, 0.815);
    --screenshot-checked: rgba(80, 42, 42, 0.815);
    --screenshot-checked-hover: rgba(80, 42, 42, 0.815);
    --screenshot-checked-active: rgba(80, 42, 42, 0.815);
    --shell-link: rgba(111, 166, 166, 1);
    --shell-link-hover: rgba(175, 165, 165, 1);
    --icon-shadow: rgba(0, 0, 0, 0.4) !important;
    --error: rgba(192, 28, 40, 1) !important;
    --warning: rgba(205, 147, 9, 1) !important;
    --dim-gray: rgba(212, 212, 212, 0.3) !important;
    --entry-active: rgba(114, 112, 112, 0.842);
    --entry-checked: rgba(114, 112, 112, 0.842);
    --entry-hover: rgba(80, 42, 42, 0.815);
    --entry-focus: rgba(139, 104, 104, 0.815);
    --entry-inactive: rgba(141, 62, 60, 0.7);
    --dim-inactive: rgba(232, 226, 226, 0.2);
    --scrollbar-button: rgba(23, 18, 18, 0.747);
    --scrollbar-hover: rgba(80, 42, 42, 0.815);
    --scrollbar-active: rgba(114, 112, 112, 0.842);
    --datebutton-focus: rgba(80, 42, 42, 0.815);
    --datebutton-focus-hover: rgba(80, 42, 42, 0.815);
    --datebutton-focus-active: rgba(80, 42, 42, 0.815);
    --datebutton-hover: rgba(80, 42, 42, 0.815);
    --calendar-focus: rgba(80, 42, 42, 0.815);
    --calendar-hover: rgba(80, 42, 42, 0.815);
    --calender-inactive: rgba(161, 45, 42, 0.637);
    --events-button: rgba(23, 18, 18, 0.747);
    --message-color: rgba(178, 47, 46, 0.836);
    --switch-list: rgba(104, 148, 148, 0.15);
    --switch-list-focus: rgba(123, 124, 124, 0.13);
    --switch-list-checked-hover: rgba(123, 124, 124, 0.13);
    --switch-list-checked-active: rgba(123, 124, 124, 0.13);
    --switch-list-active: rgba(123, 124, 124, 0.13);
    --switch-list-checked: rgba(123, 124, 124, 0.13);
    --switch-list-focus-active: rgba(123, 124, 124, 0.13);
    --switch-list-focus-hover: rgba(123, 124, 124, 0.13);
    --switch-list-drop: rgba(133, 127, 127, 0.2);
    --panel-button-hover: rgba(44, 65, 65, 0.15);
    --quicktoggle-hover: rgba(111, 132, 132, 0.514);
    --workspace-background: rgba(141, 131, 131, 0);
    --search-icon: rgba(209, 57, 56, 0.2);
    --navigation-icon: rgba(106, 94, 94, 0.596);
    --pale-color: rgba(116, 205, 204, 0.3);
}